/* Page styling */
html {
    background-color: #363636;
}


/* General styling */
h1 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #FFB579;
}

h2 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.2em;
}

h3 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

h4 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    color:#FFB579;
}

p {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-weight: 400;
    color: white;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
}

figcaption a, p a {
    color:#FFB579;
    text-decoration: none;
}

img {
    border: 4px solid #FFB579;
}


/* Header Organism */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #363636;
    display: grid;
    grid-template-columns: 250px 10px auto;
}

#navbar-left {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 105px;
}

#navbar-left-content {
    width: 250px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#navbar-left-content-link {
    text-decoration: none;
}

#navbar-left-content-link h1 {
    display: inline;
    font-family: 'Contrail One', Verdana, Arial, sans-serif;
    font-size: 2.8em;
    text-shadow: 3px 1px #168571;

}

#left-header-rectangle {
    height: 25px;
    width: 250px;
    background-color: #168571;
}

#navbar-right {
    grid-column-start: 3;
    grid-column-end: 4;
    height: 105px;
}

#navbar-right-content {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#right-header-rectangle {
    height: 25px;
    width: 100%;
    background-color: #16DB93;
}

.navbar-right-content-link {
    text-decoration: none;
}

.navbar-right-content-link h3 {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    color: #9C9C9C;
}

.navbar-right-content-link:hover {
    text-decoration: none;
}

.navbar-right-content-link h3:hover {
    border: 1px solid #16DB93;
    color: white;
}

.current-page h3 {
    color: white;
}

/* Main content organism */
.main-content {
    margin-top: 130px;
}

/* Title-card molecule */
.title-card {
    height: 700px;
    width: 700px;
    padding: 20px;
    margin: auto;
}

.title-card img {
    margin: 10px;
    width: 500px;
    float: right;
    border: 8px solid #FFB579;
}

.title-card-text h4 {
    color: #FFB579;
    margin-bottom: 2px;
}

.title-card-text h2 {
    color: #FFB579;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Bio-card molecule */
.bio-card {
    padding: 20px;
    width: auto;
    max-width: 1020px;
    margin: auto;
}

.bio-card img {
    width: 300px;
    float: left;
    margin: 15px;
}

/* Tab Card organism */
.tab-card {
    width: 90%;
    min-width: 460px;
    max-width: 1000px;
    margin: auto;
}

/* Tab atom */
.tab {
    color: white;
    background-color: #168571;
    border-top: 1px solid #16DB93;
    border-right: 1px solid #16DB93;
    border-left: 1px solid #16DB93;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

/* Tab card content molecule */
.tab-card-content {
    border: 1px solid #16DB93;
    padding: 25px;
}

/* Figure-text card molecule (used in tab-card)*/
.figure-text-card {
    width: 100%;
    margin: auto;
}

.figure-text-card figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.figure-text-card figure img {
    width: 400px;
    height: 300px;
}

.figure-text-card figure figcaption {
    max-width: 400px;
    margin: auto;
}

/* Side navbar molecule */
#side-navbar {
    position: fixed;
    left: 20px;
    top: 120px;
}

#side-navbar a {
    color: white;
    text-decoration: none;
}

#side-navbar a:hover {
    color: #FFB579;
}

.anchor {
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}

/* Back-to-top molecule */
.back-to-top {
    text-align: right;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.back-to-top a {
    color: #9C9C9C;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #9C9C9C;
}

.back-to-top a:hover {
    color: #FFB579;
    padding: 5px;
    border: 1px solid #FFB579;
}

#top-of-page {
    color: #363636;
}

/* Footer molecule */
footer {
    width: 140px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
}

footer p {
    color: #9C9C9C;
    font-style: italic;
}