/* Page styling */
html {
    background-color: #363636;
}


/* General styling */
h1 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #FFB579;
}

h2 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.2em;
}

h3 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

h4 {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    color:#FFB579;
}

p {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-weight: 400;
    color: white;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    font-family: 'Lato', Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
}

figcaption a, p a {
    color:#FFB579;
    text-decoration: none;
}

img {
    border: 8px solid #FFB579;
}


/* Header Organism */
#title {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    position: fixed;
    width: 100%;
    background: #363636;
    top: 0;
}

/* Navbar molecule */
#navbar {
    margin-top: 35px;
}

#navbar .page-link {
    text-decoration:none;
    color: #9C9C9C;
    padding-left: 20px;
}

#navbar a.current-page {
    color: white;
}

#title h1, .page-link h3 {
    display: inline;
}

#left-header-rectangle {
    height: 25px;
    width: 14%;
    float: left;
    background-color: #168571;
    margin-bottom: 10px;
}

#right-header-rectangle {
    height: 25px;
    width: 85%;
    float: right;
    background-color: #16DB93;
    margin-bottom: 10px;
}

/* Main content organism */
.main-content {
    margin-top: 150px;
}

/* Title-card molecule */
.title-card {
    height: 700px;
    width: 700px;
    padding: 20px;
    margin: auto;
}

.title-card img {
    margin: 10px;
    width: 500px;
    float: right;
}

.title-card-text h4 {
    color: #FFB579;
    margin-bottom: 2px;
}

.title-card-text h2 {
    color: #FFB579;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Bio-card molecule */
.bio-card {
    padding: 20px;
    width: auto;
    max-width: 1020px;
    margin: auto;
}

.bio-card img {
    width: 300px;
    float: left;
    margin: 15px;
}

/* Tab Card organism */
.tab-card {
    width: 80%;
    min-width: 460px;
    max-width: 1000px;
    margin: auto;
}

/* Tab atom */
.tab {
    color: white;
    background-color: #168571;
    width: fit-content;
    padding: 8px;
    border: 1px solid #16DB93;
    margin-bottom: 0;
    margin-left: 10px;
}

/* Tab card content molecule */
.tab-card-content {
    border: 1px solid #16DB93;
    border-radius: 10px;
    padding: 25px;
}

/* Figure-text card molecule (used in tab-card)*/
.figure-text-card {
    width: 100%;
    margin: auto;
}

.figure-text-card figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.figure-text-card figure img {
    width: 400px;
    height: 300px;
}

.figure-text-card figure figcaption {
    max-width: 400px;
    margin: auto;
}

/* Back-to-top molecule */
.back-to-top {
    text-align: right;
    position: relative;
    bottom: 0;
    margin-top: 40px;
    margin-right: 100px;
}

.back-to-top a {
    color: #9C9C9C;
    font-size: 18px;
    text-decoration: none;
}

.back-to-top a:hover {
    color: #FFB579;
}

#top-of-page {
    color: #363636;
}

/* Footer molecule */
footer {
    width: 140px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
}

footer p {
    color: #9C9C9C;
    font-style: italic;
}